body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #a88a8a;
}

nav {
    display: flex;
    justify-content: space-between;
    background: #333;
    color: rgb(219, 221, 234);
    padding: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(252, 252, 252);
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 80px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: rgb(124, 124, 124);
    color: rgb(253, 252, 252);
    text-decoration: none;
}

.card {
    background: rgb(100, 96, 96);
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.center {
    text-align: center;
}

.lesson-list {
    width: 300px;
    margin: auto;
}

.quiz-box {
    text-align: center;
}


.form {
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.form input, .form textarea {
    margin: 10px 0;
    padding: 10px;
}